.navbar {
  position: fixed;
  width: 100%;
  min-height: 50px;
  height: 10vh;
  background-color: rgb(26, 26, 26);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid rgba(108, 213, 255, 0.9);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.navbar li a {
  position: relative;
  padding: 16px 0 5px;
  margin: 0 25px;
}

.nav-items {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle-button {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  right: 2rem;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.mobile-navbar {
  position: absolute;
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 160px;
  height: 160px;
  top: 10vh;
  background-color: rgb(26, 26, 26);
}

.mobile-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-nav-items li {
  list-style-type: none;
  color: white;
  padding: 10px;
}

.mobile-nav-items li a {
  cursor: pointer;
}

@media (max-width: 648px) {
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-left: 2rem;
  }

  .mobile-active {
    display: flex;
  }
}
